<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: powderblue;">
    <header>
        <h1>About Us</h1>
        <div class="navbar">
            <a href="form.html"></a>form</a>
        </div>
    </header>

    <main>
        <section class="about-section">
            <h2>CONTENT</h2>
            <p>Our journey began with a passion for understanding the emotions and shape our world.we embarked on this path driven by a vision to simply the complexities of sentimental analysis.</p>
        </section>

        <section class="key features-section">
            <h2>KEY FEATURES</h2>
            <p>the dashboard's main features, including real-time analysis, sentimental scoring,data visualization,and any unique functionalities
        </section>

        <section  class="advantages-section">
            <h3>BENEfITS ON SENTIMENTAL ANALYSIS </h3>
            <P>*sentimental analysis of dashboard uses is the process of identifying and understanding emotions.
            <p>*identify areas where users are struggling or have difficulty.
            <p>*identify specific user feedback and request.
        </section>
        <Section class="contact-section">
            <h4>CONTACT US</h4>
            <P> we can contact with phone number, email, facebook and you tube channels.</P>
            <P> * Above images tells about sentimental emotions like we can happy,sad and other emotions and feelings.</p>
            <p> * And it will tell the either it is positive, negative or neutral  in the image.</p>
            <p> * Main theme that it tell about feelings and emotions and it analysis.</p>

        
            
        </Section>
        
    </main>

</body>
</html>